body {
	padding-top: 0;
	background-color: #CCCCCC;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    padding:10px;
}

.wrapper {
  width: 100%;
  padding: 0;
  border: 0;
  position: relative;
  clear: both;
  top: 0;
  left: 0;
  border-bottom-width: .25em;
  border-bottom-color: white;
  border-bottom-style: solid;
  background-color: #EEEEEE;
}

#masthead {
  color: white;
  position: relative;
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}

#masthead div {
  float: left;
  background-color: #00338D;
}

#masthead ul {
  color: white;
  font-size: small;
  list-style: none;
  padding: 0;
}

nav ul {
  height: 6em;
  margin-right: 0;
  margin-left: auto;
}
.ie nav ul {
  width: 15em;
  padding-left: 0;
}
nav li {
  list-style: none;
  float: left;
  width: 33.33333%;
}
nav a {
  color: white;
  display: block;
  position: relative;
  padding: 1.875em 0 1.125em;
  line-height: 1.5em;
  text-align: center;
}

.caption-box {
  padding-top:00px;
  padding-bottom:10px;
  margin-left:50%;
  margin-right:10%;
}

.caption-arrow-top {
  background-position-x: 75%;
  background-image: url(eofa-captionarrow.png);
  background-repeat: no-repeat;
  padding-top: 15px;
}

.caption-arrow-left {
  background-position-y: 25%;
  background-image: url(eofa-captionarrow-left.png);
  background-repeat: no-repeat;
  padding-left: 15px;
}

.caption-arrow-leftspacer {
  padding-left: 15px;
}

.caption-arrow-right {
  background-position-y: 75%;
  background-image: url(eofa-captionarrow-right.png);
  background-repeat: no-repeat;
  padding-right: 15px;
}

.caption-arrow-rightspacer {
  padding-right 15px;
}

.caption-text {
  background-color: #A40800;
  padding: 0.7em;
  border-radius: 0.7em;
  color: white;
}

.logo {
 position:absolute;
 right: 30px;
 top:20px;
}

.nav li {
  display: inline;
  list-style-type: none;
}

.nav {
  margin-left:10px;
  margin-top:19px;
  margin-bottom: 35px;

}

.nav a {
  color:#fff;
  text-decoration:none;
}

.nav a:hover {
  text-decoration:underline;
 }

.icon {
  width:70px;
  height:40px;
  background-position-x: center;
  background-repeat:no-repeat;
  vertical-align:text-bottom;
}

.icon-cfp {
  background-image: url(eofa-icon-cfp.png);
}

.icon-resources {
  background-image: url(eofa-icon-resources.png);
}

.icon-contact {
  background-image: url(eofa-icon-contact.png);
}

.listtext {
  margin-top: 43px;
  text-align:center;
  width:70px;
}

.header-strip h1 {
  padding-top:5px;
  line-height:30px;
  letter-spacing:0;
  color: white;
  font-size:small;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  background-image:none;
}

.header-strip li {
	margin-top: -7px;
}

.header-strip {
  margin-left:20px;
}

#flyer {
  background-image: url(eofa-background-streetperf.jpg);
  background-position: center center;
}

/*
#cfp {
  background-image: url(eofa-background-arts2.jpg);
  background-position: top center;
  background-repeat: repeat-y;
}
*/

h1 {
  text-align:right;
  color: #A40800;
  line-height:56px;
  font-style:italic;
  font-weight:bolder;
  background-image: url(transparrent.png);
  font-size:50px;
  padding-right:30px;
}

h2 {
  font-style:bold;
  background-image: url(transparrent.png);
  font-style:italic;
  color: #A40800;
  text-align:right;
  font-size:20px;
  padding-right:30px;
}

.toplink {
  float:left;
  width:15px;
  height:30px;
  margin-top: 5px;
  margin-left: 20px;
  
  background-position: center top;
  background-repeat:no-repeat;
  background-image: url(eofa-icon-uparrow.png);
  
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  font-size: small;
  color: #A40800;
  text-decoration:none;
}

.toplink a:hover {
  text-decoration:underline;
 }

#contentwrapper {
  width:100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

#section {
  margin-left:50px;
}
