body {
	padding-top: 0;
	background-color: #CCCCCC;
}

.wrapper {
  width: 100%;
  padding: 0;
  border: 0;
  position: relative;
  clear: both;
  top: 0;
  left: 0;
  background-color: #00338D;
  border-bottom-width: .25em;
  border-bottom-color: white;
  border-bottom-style: solid;
}

#masthead {
  color: white;
  position: relative;
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  font-size: small;
}

#masthead div {
  float: left;
}

#masthead h1 {
  color: white;
  font-size:small;
}

#masthead ul {
  list-style: none;
}

nav ul {
  height: 6em;
  margin-right: 0;
  margin-left: auto;
}
.ie nav ul {
  width: 15em;
  padding-left: 0;
}
nav li {
  list-style: none;
  float: left;
  width: 33.33333%;
}
nav a {
  color: white;
  display: block;
  position: relative;
  padding: 1.875em 0 1.125em;
  line-height: 1.5em;
  text-align: center;
}
nav .icon {
  display: block;
  font-size: 1.25em;
  line-height: 1.2em;
  height: 1.2em;
}

.caption-box {
  width: 60%;
  padding-top:20px;
  margin-left:250px;
}

.caption-arrow {
  height: 15px;
  background-position-x: 75%;
  background-image: url(eofa-captionarrow.png);
  background-repeat: no-repeat;
}

.caption-text {
  background-color: #A40800;
  padding: 0.7em;
  border-radius: 0.7em;
  color: white;
}

.logo {
 position:absolute;
 right: 30px;
 top:20px;
}

.nav li {
  display: inline;
  list-style-type: none;
}

.nav {
  margin-left:10px;
  margin-top:19px;
  margin-bottom: 35px;

}

.nav a {
  color:#fff;
  text-decoration:none;
}

.nav a:hover {
  text-decoration:underline;
 }

.icon {
  width:70px;
  height:40px;
  background-image: url(eofa-icon-cfp.png);
  background-position-x: center;
  background-repeat:no-repeat;
  vertical-align:text-bottom;
}

.listtext {
  margin-top: 43px;
  text-align:center;
  width:70px;
}

.header-strip h1 {
  padding-top:5px;
  line-height:30px;
  letter-spacing:0;
}

.header-strip li {

	margin-top: -7px;

}

.header-strip {
  margin-left:20px;
}

#flyer {
  background-color: #EEEEEE;
  background-image: url(eofa-background-streetperf.jpg);
  background-position: center center;
}

.flyerheader h1 {
  text-align:right;
  color: #A40800;
  line-height:56px;
  font-style:bold;
  font-style:italic;
  background-image: url(transparrent.png);
  font-size:50px;
  padding-right:30px;
}

.flyerheader h2 {
  font-style:bold;
  background-image: url(transparrent.png);
  font-style:italic;
  color: #A40800;
  text-align:right;
  font-size:20px;
  padding-right:30px;
}


#contentwrapper {
  width:100%;
}
